.btn{
  background: var(--degrade-principale);


  text-transform: uppercase;

  font-family: var(--ff-normal);
  font-size: var(--fz-normal);

  padding: var(--padding-thin) var(--padding-large);


}