.creation{
  padding: var(--padding-thin);
  margin: var(--margin-large) 0;


  max-width: var(--max-width);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  article{
    img{
      width: 15%;

    }

    text-align: center;




    width: 354px;




  }




}