:root{
  --color-white: white;
  --color-black:black;

  --color-link: #202c4a;
  --color-link-visited:#8B8B97;
  --color-link-hover:#E53847;
  --color-link-focus:#202C4A;


  --color-bg-primary:#fff;
  --color-bg-secondary:#F0F0F0;
  --color-bg-tertiary:#202c4a ;


  --color-text-primary: #000;
  --color-text-secondary:#fff;

  --color-gradient:#000;
}